.image {
  border: 2px solid #00FF00;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.panel-title a {
  display: block;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.bottom {
    border-bottom: 2px solid #ccc;
}

.form > input, .form textarea, .form .checkbox {
  margin-top: 20px;
}

.table {
  margin-top: 20px;
}

.content-center{
  text-align: center;
}

.panel-body img {
  display: inline;
}

.footer {
  background-color: grey;
  padding: 20px;
  color: white;
}

.footer a {
  color: white;
}

.footer ul {
  color: white;
  display: block;
  list-style: none;
  padding: 0
 }

.footer li {
  margin-bottom: 10px
}

* {
  font-size: 12pt; 
}
